<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <%- include('../layouts/head.ejs') %>
  <body class="bg-light pt-5">
    <main class="container shadow-sm rounded p-0">
      <nav class="navbar navbar-dark bg-dark rounded-top p-3">
        <ul class="navbar-nav flex-row">
          <li class="nav-item mx-5 me-0"><a class="nav-link fs-5 fw-bold" href="#">إدارة الاصناف</a></li>
          <li class="nav-item mx-5"><a class="nav-link fs-5 fw-bold" href="#">إدارة المستخدمين</a></li>
          <li class="nav-item mx-5"><a class="nav-link fs-5 fw-bold" href="#">التقارير</a></li>
          <li class="nav-item mx-5"><a class="nav-link fs-5 fw-bold" href="#">الإعدادات</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>