html, body {
  overflow-x: hidden;
}


.w-10 {
  width: 10% !important;
}
.h-10 {
  height: 10% !important;
}

.btn-gray {
  background-color: #bbbcbd;
  color: #e9e9e9;
}

.btn-gray:hover{
  background-color: #5a6268;
  color: white;
}

.my-scroll {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge old */
}

.btn-primary {
  background-color: #3B82F6 !important;
  border-color: #3B82F6 !important;
}

.btn-primary:hover {
  background-color: #2563EB !important; /* slightly darker for hover */
  border-color: #2563EB !important;
} 
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5) !important;
}

/* Make the items interactive */
.menu-item {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.menu-item:active {
  transform: scale(0.98);
  background-color: #f8f9fa; /* Bootstrap light gray */
}

/* Receipt printing styles */
@media print {
  body {
    width: 80mm !important; /* or 58mm depending on printer */
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Arial", sans-serif !important;
    font-size: 12px !important;
    background-color: #2563EB !important;
  }

  #receiptList {
    width: 100% !important;
    text-align: right !important;
    background-color: #2563EB !important;
  }

  button {
    display: none !important; /* hide buttons during print */
  }
}
